body {
  font-family: sans-serif;
  line-height: 1.5;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
label {
  display: flex;
  flex-direction: column;
}
input {
  padding: 4px;
  font-family: inherit;
}
button {
  width: 150px;
  height: 50px;
  border-radius: 12px;
  background-color: beige;
  color: black;
}
button:hover {
  background-color: blue;
  color: white;
}
